code {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  color: rgb(255, 192, 255);
  background-color: rgba(0, 0, 0, 0.486);
}

.colr {
width: 80%;
margin: 0 auto;
padding: 1rem;
color: rgb(255, 192, 255);
background-color: rgba(0, 0, 0, 0.486);
font-family: 'JetBrains Mono', monospace;
font-size: 1rem;
box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.281);
}

.colr pre {
font-size: 1.3rem;
line-height: 1.7rem;
padding: 5px;
word-wrap: normal;
}

.colr-kw-const {
    color: red;
}

.colr-number {
    color: blue;
}

.colr-ol-comment,
.colr-ml-comment {
    color: green;
}

.colr-regexp {
    color: rgb(238, 28, 0);
}

.colr-kw {
    color:blueviolet;
}

.colr-empty-function {
    color: rgb(175, 175, 4);
}

.colr-string {
    color: rgb(209, 105, 57);
}

.colr-function {
    color: rgb(255, 187, 155);
}

.colr-html-arrow {
    color: grey
}

.colr-html-tag {
    color: rgb(10, 147, 238)
}

.colr-special {
    color: rgb(163, 163, 163)
}
