body {
    color: white;
    background-color: black;
}


.colr-kw-const {
    color: red;
}

.colr-number {
    color: blue;
}

.colr-ol-comment,
.colr-ml-comment {
    color: green;
}

.colr-regexp {
    color: rgb(238, 28, 0);
}

.colr-kw {
    color:blueviolet;
}

.colr-empty-function {
    color: rgb(175, 175, 4);
}

.colr-string {
    color: rgb(209, 105, 57);
}

.colr-function {
    color: rgb(255, 187, 155);
}

.colr-html-arrow {
    color: grey
}

.colr-html-tag {
    color: rgb(10, 147, 238)
}

.colr-special {
    color: rgb(163, 163, 163)
}
